<div class="container-fluid p-4">
  <!-- Header -->
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="ms-2">Product Management</h2>
    <button class="btn btn-primary" (click)="openAddModal()"><i class="fa-solid fa-plus"></i>Add Product</button>
  </div>

  <!-- Products Table -->
  <div class="card">
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th (click)="sortTable('productCode')" style="cursor:pointer">
               Code 
                 <i class="fa fa-sort" 
                 [ngClass]="{'fa-sort-up': sortColumn === 'productCode' && sortDirection==='asc', 
                             'fa-sort-down': sortColumn === 'productCode' && sortDirection==='desc'}"></i>
            </th>
            <th (click)="sortTable('productName')" style="cursor:pointer">
               Name
                 <i class="fa fa-sort" 
                 [ngClass]="{'fa-sort-up': sortColumn === 'productCode' && sortDirection==='asc', 
                             'fa-sort-down': sortColumn === 'productCode' && sortDirection==='desc'}"></i>
            </th>
            <th (click)="sortTable('productPrice')" style="cursor:pointer">
              Price
              <i class="fa fa-sort" 
              [ngClass]="{'fa-sort-up': sortColumn === 'productCode' && sortDirection==='asc', 
                          'fa-sort-down': sortColumn === 'productCode' && sortDirection==='desc'}"></i>
            </th>
            <th (click)="sortTable('productStatus')" style="cursor:pointer">
              Status
              <i class="fa fa-sort" 
              [ngClass]="{'fa-sort-up': sortColumn === 'productCode' && sortDirection==='asc', 
                          'fa-sort-down': sortColumn === 'productCode' && sortDirection==='desc'}"></i>
            </th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of paginatedProducts">
            <td>{{ product.productCode }}</td>
            <td>{{ product.productName }}</td>
            <td>{{ product.productPrice }}</td>
            <td>
              <span class="badge" 
                    [ngClass]="{'bg-success': product.productStatus === 'Active', 
                               'bg-danger': product.productStatus === 'Inactive'}">
                {{ product.productStatus }}
              </span>
            </td>
            <td>
              <button class="btn btn-sm btn-primary me-2" (click)="openEditModal(product)"><i class="fa-solid fa-pen-to-square"></i></button>
              <button class="btn btn-sm btn-danger" (click)="deleteProduct(product)"> <i class="fa-solid fa-trash"></i></button>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- Simple Pagination -->
      <div class="d-flex justify-content-center mt-4">
        <button class="btn btn-outline-primary me-2" (click)="prevPage()" [disabled]="currentPage === 1">
          Previous
        </button>
        
        <button class="btn me-1" 
                *ngFor="let page of [1,2,3]" 
                [ngClass]="currentPage === page ? 'btn-primary' : 'btn-outline-primary'"
                (click)="goToPage(page)">
          {{ page }}
        </button>
        
        <button class="btn btn-outline-primary ms-2" (click)="nextPage()" [disabled]="currentPage === 3">
          Next
        </button>
      </div>
      
      <div class="text-center mt-2">
        <small>Page {{ currentPage }} | Showing {{ paginatedProducts.length }} of {{ products.length }} products</small>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="productModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <form [formGroup]="productForm" (ngSubmit)="saveProduct()">
        <div class="modal-header">
          <h5 class="modal-title">{{ isEdit ? 'Edit Product' : 'Add Product' }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label>Product Code <span class="text-danger">*</span></label>
            <input type="text" class="form-control" formControlName="productCode" [readonly]="isEdit">
            <div class="text-danger" *ngIf="productForm.get('productCode')?.invalid && productForm.get('productCode')?.touched">
              Product code is required
            </div>
          </div>

          <div class="mb-3">
            <label>Product Name <span class="text-danger">*</span></label>
            <input type="text" class="form-control" formControlName="productName">
            <div class="text-danger" *ngIf="productForm.get('productName')?.invalid && productForm.get('productName')?.touched">
              Product name is required
            </div>
          </div>

          <div class="mb-3">
            <label>Product Price <span class="text-danger">*</span></label>
            <input type="number" class="form-control" formControlName="productPrice" min="0">
            <div class="text-danger" *ngIf="productForm.get('productPrice')?.invalid && productForm.get('productPrice')?.touched">
              Price must be greater than 0
            </div>
          </div>
          <div class="mb-3">
            <label>Status <span class="text-danger">*</span></label><br>
            <div class="status-toggle mt-2">
              <div
                class="status-btn"
                [class.active]="productForm.get('productStatus')?.value === 'Active'"
                (click)="setStatus('Active')"
              >
                Active
              </div>
              <div
                class="status-btn"
                [class.inactive]="productForm.get('productStatus')?.value === 'Inactive'"
                (click)="setStatus('Inactive')"
              >
                Inactive
              </div>
            </div>
          </div>
          
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-success" [disabled]= "productForm.invalid">{{ isEdit ? 'Update' : 'Add' }}</button>
        </div>
      </form>
    </div>
  </div>
</div>