
<div class="container">
    <div class="row">
      <!-- Total Orders Card -->
      <div class="col-md-3 mt-5 s">
        <div class="card">
          <div class="card-header bg-primary text-white">Total Orders</div>
          <div class="card-body">
            <h5 class="card-title">{{ totalOrders }}</h5>
            <p class="card-text">My orders placed.</p>
          </div>
        </div>
      </div>
      
      <!-- Total Cart Items Card -->
      <div class="col-md-3 mt-5 I">
        <div class="card">
          <div class="card-header  text-white bg-success">Total Cart Items</div>
          <div class="card-body">
            <h5 class="card-title">{{ totalCartItems }}</h5>
            <p class="card-text">Items in my cart.</p>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Pie Chart Row -->
    <div class="row mt-4">
      <div class="col-md-6 d-flex justify-content-center m">
        <div class="card" style="width: 100%; max-width: 400px;">
          <div class="card-header text-center">
            <h6>My Orders Overview</h6>
          </div>
          <div class="card-body">
            <canvas id="orderChart"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 d-flex justify-content-center n">
      <div class="card"  style="width: 100%; max-width: 400px;">
        <div class="card-header text-center">
          <h6>Items in my Cart</h6>
          </div>
          <div class="card-body">
          <canvas id="cartChart" width="400" height="400"></canvas>
          </div>
          </div>
    </div>
  
